:root {
  --color-red: #fb7185;
  --color-red-dark: #be123c;
  --color-violet: #a78bfa;
  --color-violet-dark: #6d28d9;
  --color-green: #4ade80;
  --color-green-dark: #15803d;
  --color-orange: #facc15;
  --color-orange-dark: #a16207;
}

.stopwatch-time {
  text-align: center;
  color: #fff;
  font-size: 80px;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
}

.stopwatch-buttons button {
  margin: 20px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
}

.green-button {
  background-color: var(--color-green);
  border: 1px solid #222222;
}
.orange-button {
  background-color: var(--color-orange);
  border: 1px solid #222222;
}
.red-button {
  background-color: var(--color-red);
  border: 1px solid #222222;
}
.violet-button {
  background-color: var(--color-violet);
  border: 1px solid #222222;
}
.button {
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  border-color: #000000;
  transform: scale(.96);
}

.green-button:active {
  background-color: var(--color-green-dark);
}
.orange-button:active {
  background-color: var(--color-orange-dark);
}
.red-button:active {
  background-color: var(--color-red-dark);
}
.violet-button:active {
  background-color: var(--color-violet-dark);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.items-center {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stroke-custom {
  path {
    stroke-width: 2px !important;
  }
}